In [1]:
# function defination
def greet():
    print("Hello world")
    print("Good Morning")
    print("Good evening")
    print("Good Night")

In [2]:
#function call
greet()

Hello world
Good Morning
Good evening
Good Night

In [3]:
def greeting():
    print("hello sankate")
greeting()
print("how are u")

hello sankate
how are u

In [4]:
def add(num1,num2):
    sum=num1+num2
    print("the sum is",sum)
add(10,20)

the sum is 30

In [5]:
def my_name(name):
    return f'hello! {'John'}'
my_name(my_name)

'hello! John'

In [6]:
def my_function():
    return'WELCOME','TO','DIGIPODIUM'
my_function()

('WELCOME', 'TO', 'DIGIPODIUM')

In [7]:
def my_function(a):
    square=a*a
    print("sqaure is",square)
my_function(5)

sqaure is 25

In [8]:
def square(a):
   square=a*a
   return f'sqaure is {square}'
square(4)

'sqaure is 16'

In [9]:
def add(a,b,c):
    add=a+b+c
    return f'addition is {add}'
add(5,6,7)

'addition is 18'

In [10]:
def my_sum(a,q,t):
   s=a+q+t
   print("the sum is",s)
my_sum(6,7,8)

the sum is 21

In [11]:
# lambda keyword

add= lambda num1,num2:num1+num2
print(add(10,20))

30

In [12]:
square=lambda num1:num1**2
print(square(6))

36

In [13]:
circle=lambda num1:(num1**2)*3.14
print(circle(3))

28.26

In [14]:
triangle=lambda num1,num2:(0.5*num1*num2)
print(triangle(2,3))

3.0

In [15]:
def check(num1):
    if(num1%2==0):
       print("even")
    else:
        print("odd")
check(34)

even

In [16]:
#F =c*(9/5)+32

degree=lambda num:(num*(9/5)+32)
print(degree(21))

69.80000000000001

In [17]:
def max(num1,num2):
    if(num1>=num2):
        return num1
    else:
        return num2
max(23,21)

23

In [18]:

factorial = lambda n: 1 if n <= 1 else factorial(n - 1) * n
print(factorial(5))

120

In [19]:
def string(name):
  reverse=""
  for char in reversed(name):
     reverse+=char
  return reverse
name="sankate"
reverse=string(name)
print(reverse)

etaknas